<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "../CS/style_registration.css">
    </head>
    <body>
        <header>

                <section>
                    <img src = "#" alt ="logo">
                </section>

                <nav>
                    <ul class = "nav_a" style = "padding-left:80px">
                        <li><a href = "#">Home</a></li>
                        <li><a href = "#">Events</a></li>
                        <li><a href = "#">Contract Us</a></li>
                    </ul>
                </nav>


                <nav>
                    <ul class = "nav_a">
                        <li><a herf = "#"><img src = "../vector img/bag-handle-outline.svg" height="30"></a></li>
                        <li><a href = "#">Sign up</a></li>
                    </ul>
                </nav>
           
        </header>

        <div class = "div_center">
            <h2>Create an account</h2>
            <p>Sign up easily with your name, email, phone number, and password. For a faster option, use Quick Signup! Enter your email to receive an OTP.</p>
        </div>

        <form class = "form_center" >
            <div class = "form_div_div">
                <input type = "text" name = "firstName" placeholder = "firstName">
                <input type = "text" name = "lastName" placeholder = "lastName"> <br>
            </div>
            <input type = "email" name = "eamil" placeholder = "Enter your mail"><br>
            <input type="password" name = "password" placeholder = "Enter your password"><br>
            <input type = "password" name = "reTypePassword" placeholder = "Retype your password"><br>
            <input type = "text" name = "phoneNumber" placeholder = "Enter your phone Number"><br>
            <button type = "submit"> Create an account</button>
        </form>
        
    </body>
</html>
