<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href="../CS/style_registration.css">
       

    </head>

    <Body>
        <header>
            <section>
                <img src = "#" alt ="logo">
            </section>

            <nav>
                <ul class = "nav_a" style = "padding-left:80px">
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">Events</a></li>
                    <li><a href = "#">Contract Us</a></li>
                </ul>
            </nav>


            <nav>
                <ul class = "nav_a">
                    <li><a herf = "#"><img src = "../vector img/bag-handle-outline.svg" height="30"></a></li>
                    <li><a href = "#">Sign up</a></li>
                </ul>
            </nav>
        </header>

        <div class = "div_center">
            <h2>Welcome to Tickify</h2>
            <p>Log in with your username or email and password. For quicker access, use our passwordless sign-in.</p>
        </div>

        <Main class = "main_SignIn">
            <section class = "div_center">
                <div>
                    <a href = "#" class = "div_img_text" ><img src = "../vector img/icons8-google.svg" class = "logo_size"> <spam> Login with google </spam> </a>
                    <a href = "#" class = "div_img_text"><img src = "../vector img/icons8-facebook.svg" class = "logo_size"> <spam> Login with facebook </spam> </a>
                </div>
                <div><p>Don't have account? <a href = "#">Create an account</a></p></div>
            </section>

            <section>
                <form class = "form_center" >
                    <input id = "userName" type ="text" name = "userName" placeholder = "User Name or Email Address"><br>
                    <input id = "password" type = "password" name = "userPassword" placeholder = "Password"><br>
                    <button type ="submit">Login Now!</button>
                </form>
            </section>
        </Main>
    </Body>
</html>