.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(27rem,1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.dashboard .box-container .box{
    padding:2rem;
    text-align: center;
    border: 2rem;
    border-color: black;
    border-style: solid;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    background-color: white;
    border-radius: 0.5rem;
    
}