body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    margin: 0;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--green);
    color: var(white);
    text-decoration: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #B0B0B0; /* ash color on hover */
}
